@font-face {
  font-family: "iconfont"; /* Project id 4316411 */
  src: url('//at.alicdn.com/t/c/font_4316411_46v9a8ydv7c.woff2?t=1700057100084') format('woff2'),
       url('//at.alicdn.com/t/c/font_4316411_46v9a8ydv7c.woff?t=1700057100084') format('woff'),
       url('//at.alicdn.com/t/c/font_4316411_46v9a8ydv7c.ttf?t=1700057100084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e64c";
}

.icon-delete:before {
  content: "\e618";
}

.icon-check:before {
  content: "\e637";
}

.icon-guantou-01:before {
  content: "\e613";
}

.icon-hanbao-01:before {
  content: "\e614";
}

.icon-hongjiu-01:before {
  content: "\e615";
}

.icon-huoji-01:before {
  content: "\e616";
}

.icon-jiroujuan-01:before {
  content: "\e617";
}
